[submodule "0P-Stack"]
	path = 0P-Stack
	url = https://github.com/CSCI220/0P-Stack.git
[submodule "1P-Sorting"]
	path = 1P-Sorting
	url = https://github.com/CSCI220/1P-Sorting.git
[submodule "2P-Hashtable"]
	path = 2P-Hashtable
	url = https://github.com/CSCI220/2P-Hashtable.git
[submodule "3P-Trie"]
	path = 3P-Trie
	url = https://github.com/CSCI220/3P-Trie.git
[submodule "4P-GraphSearch"]
	path = 4P-GraphSearch
	url = https://github.com/CSCI220/4P-GraphSearch.git
